/*      start       */
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html{
    scroll-behavior: smooth;
}
.bg{
    background: linear-gradient(120deg, #FF00C7 0%, #51003F 100%), linear-gradient(120deg, #0030AD 0%, #00071A 100%), linear-gradient(180deg, #000346 0%, #FF0000 100%), linear-gradient(60deg, #0029FF 0%, #AA0014 100%), radial-gradient(100% 165% at 100% 100%, #FF00A8 0%, #00FF47 100%), radial-gradient(100% 150% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(20, 20, 20);
    background-size: cover;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    opacity: 1;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #31215a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    border-radius: 15px;
}
nav ul li a:hover::after{
    width: 100%;
    background: #ef937a;
}
.welcome{
    margin-top: 30vh;
    margin-bottom: 50vh;
    text-align: center;
}
.welcome h1{
    font-size: 60px;
    margin-top: 20px;
}
.welcome p{
    font-size: 30px;
    font-family: 'Monaco', monospace;
}
/*      about section     */
#about{
   padding: 80px;
   padding-top: 40px;
   padding-bottom: 55px;
   background-color: rgb(20, 20, 20, 0.8);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abt-col-1{
    flex-basis: 35%;
}
.abt-col-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.subtitle{
    font-family: 'Monaco', monospace;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-bottom: 5%;
}
#squigg {
    font-family: 'Monaco', monospace;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-top: 5%;
}
.abt-col-2{
    flex-basis: 60%;
}
.abt-col-2 p{
    padding-bottom: 40px;
    line-height: 2;
}
.quote{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 5%;
}
.abt-col-2 h6{
    font-weight: 400;
    font-size: 30px;
    color: white;
    background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #00144e calc(60% + 1px), #10003a 70%, #911f00 calc(70% + 1px), #8e1f00 100%);
    border-width: 0;
    border-style: solid;
    border-color: #D1E2C4;
    border-radius: 15px;
    padding: 15px;
    line-height: 1.2;
    transition: 0.5s;
}
/*      expertise section       */
#expertise{
    padding: 100px 80px;
    color: white
}
#expertise h2{
    font-family: 'Monaco', monospace;
    font-size: 25px;
    font-weight: 800;
    color: white;
    margin-bottom: 35px;
}
.exp-col{
    flex-basis: 30%;
    padding: 50px;
    background-color: rgb(20, 20, 20, 0.8);
    border-width: 0;
    border-style: solid;
    border-color: #D1E2C4;
    border-radius: 15px;
    transition: 0.5s;
}
.exp-col:hover{
    transform: translateY(-15px);
    border-color: #b2c8a1;
}
#expertise ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 300;
}
#expertise span{
    color: rgb(183, 2, 2);
    font-size: 14px;
    font-weight: 600;
}
/*      projects section        */
#projects{
    padding: 60px 80px;
    background-color: rgb(20, 20, 20, 0.8);
}
.proj-row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #00042b 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #c86c15 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
    background-size: cover;
    padding: 60px;
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    transition: 0.5s;
}
.proj-row-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #00042b 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #c86c15 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
    background-size: cover;
    padding: 60px;
    margin-top: 4%;
    border-width: 0;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 15px;
    transition: 0.5s;
}
.proj-col-1{
    flex-basis: 44%;
}
.proj-col-2{
    flex-basis: 50%;
}
.proj-col-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
#proj-col h2{
    font-size: 30px;
}
#proj-col h3{
    font-size: 18px;
    padding-top: 40px;
}
#proj-col p{
    padding-top: 10px;
    line-height: 2;
}
.proj-col-alt-1{
    flex-basis: 52%;
}
.proj-col-alt-2{
    flex-basis: 44%;
}
.proj-col-alt-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.download-row{
    padding-top: 8%;
}
.download-row a{
    font-size: 35px;
    color: darkgray;
    margin-right: 5px;
    transition: 0.5s;
}
.download-row a:hover{
    color: whitesmoke;
}
/*      contact me section      */
#contact{
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#contact-head{
    padding-top: 15px;
}
#contact h2{
    font-size: 42px;
}
/*#contact-row{
    background-color: #EDDFD0;
}*/
.btn{
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    font-size: 18px;
    padding: 15px 40px;
    margin-top: 60px;
    color: white;
    background-color: rgb(148, 2, 10);
    transition: 0.5s;
    border-color: black;
}
.btn:hover{
    padding: 18px 48px;
    cursor: pointer;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: darkgray;
    margin-right: 15px;
    font-size: 25px;
}
#social-icons{
    margin-top: 30px;
}
#social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: darkgray;
    display: inline-block;
    transition: 0.5s;
}
#social-icons a:hover{
    color: whitesmoke;
    transform: translateY(-3px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(0, 0, 0, 0.5);
    padding: 15px;
    margin: 15px 0;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(20, 20, 20, 0.8);
    font-weight: 300;
    margin-top: 20px;
}
#msg{
    color: darkgray;
    margin-top: 10px;
    display: block;
}
/*      small screens       */
nav .fa-solid{
    display: none;
}
.mobile-bar{
    display: none;
}
.version{
    display: none;
}
div #proj-col-mobile{
    display: none;
}
div #abt-col-mobile{
    display: none;
}
.fa-solid{
    pointer-events: none;
}
@media only screen and (max-width: 600px){
    .bg{
        display: none;
    }
    .content{
        position: static;
    }
    body{
        background-color: rgb(20, 20, 20);
        background: linear-gradient(180deg, rgb(10, 10, 10) 0%, #c92a2a 65%, rgb(8, 8, 56) 80%, rgb(10,10,10) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
    .mobile-bar{
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 15px 20px;
        width: 100%;
        background-color: rgb(20, 20, 20, 1);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        opacity: 0;
        box-shadow: 0px 1px 4px black, 0px -2px 0px rgb(20, 20, 20, 0.98);
    }
    .mobile-bar h1{
        font-size: 20px;
    }
    .mobile-bar p{
        font-size: 10px;
    }
    .welcome{
        margin-top: 65%;
        margin-bottom: 120%;
        align-items: center;
        justify-content: center;
        position: static;
    }
    .welcome h1{
        font-size: 45px;
    }
    .welcome p{
        font-size: 18px;
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
    }
    nav .fa-solid{
        display: block;
        font-size: 30px;
        padding: 10px;
    }
    nav .fa-solid:active{
        border: none;
    }
    #bars{
        position: fixed;
        top: 22px;
        right: 30px;
        font-size: 25px;
        border-radius: 15px;
    }
    #ex{
        position: fixed;
        top: 10px;
        right: 20px;
        border-radius: 15px;
    }
    nav ul{
        position: fixed;
        top: -1500px;
        left: 50%;
        margin-top: 0;
        transform: translate(-50%, 0);
        width: 100%;
        height: 450px;
        padding-top: 50px;
        background-color: rgb(20, 20, 20, 0.85);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0px 1px 10px black;
        z-index: 2;
    }
    nav ul a{
        text-decoration: none;
        color: black;
        border: none;
    }
    nav ul a:hover{
        border: none;
        text-decoration: none;
    }
    nav ul li{
        display: block;
        margin: 20px 50px;
    }
    nav ul li a{
        font-size: 30px;
        font-weight: 800;
    }
    nav ul li a:hover::after{
        width: 0;
    }
    .abt-col-1, .abt-col-2{
        flex-basis: 100%;
    }
    #about{
        padding: 40px;
        background-color: rgb(20, 20, 20, 1);
    }
    .subtitle{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .quote{
        padding: 0;
        padding-bottom: 10%;
    }
    .abt-col-1{
        display: none;
    }
    div #abt-col-mobile{
        display: block;
        margin-bottom: 20px;
    }
    .abt-title h1{
        display: none;
    }
    .abt-col-2 h6{
        font-size: 20px;
    }
    .abt-col-2 p{
        line-height: 1.6;
        padding-bottom: 10px;
    }
    #expertise{
        padding: 40px;
    }
    .exp-col{
        flex-basis: 100%;
        margin-bottom: 30px;
        width: 100%;
        padding: 30px;
        background-color: rgb(20, 20, 20, 1);
    }
    .exp-col:hover{
        transform: none;
    }
    #projects{
        padding: 40px;
        background-color: rgb(20, 20, 20, 1);
    }
    .proj-row-1{
        padding: 20px;
        background: linear-gradient(45deg, #0a0219 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #c86c15 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
        margin-top: 0;
        background-size: cover;
    }
    .proj-row-2{
        padding: 20px;
        background: linear-gradient(45deg, #0a0219 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #c86c15 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
        margin-top: 30px;
        background-size: cover;
    }
    .proj-col-1{
        flex-basis: 100%;
    }
    .proj-col-2{
        flex-basis: 100%;
    }
    #proj-col p{
        line-height: 1.6;
    }
    #proj-col h2{
        padding-top: 20px;
    }
    .proj-col-alt-1{
        flex-basis: 100%;
    }
    .proj-col-alt-2{
        flex-basis: 100%;
    }
    .proj-col-2{
        display: none;
    }
    div #proj-col-mobile{
        display: block;
    }
    .download-row a:hover{
        color: #5d6557;
    }
    #contact{
        padding: 40px;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .btn{
        margin-top: 30px;
    }
    .contact-right form{
        margin-top: 40px;
    }
    #social-icons a:hover{
        color: #17C4BD;
        transform: none;
    }
    .btn:hover{
        padding: 15px 40px;
        cursor: pointer;
    }
    .copyright{
        background-color: rgb(20, 20, 20, 1);
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px){  
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 18px;
        opacity: 1.0;
    }
    nav ul li a{
        font-size: 16px;
    }
    .welcome h1{
        font-size: 50px;
    }
    .welcome p{
        font-size: 25px;
    }
    .abt-col-1{
        flex-basis: 40%;
    } 
    .abt-col-2{
        flex-basis: 55%;
    }
    .abt-col-1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    #about{
        padding: 40px;
    }
    .subtitle{
        margin-top: 12px;
        margin-bottom: 30px;
        font-size: 20px;
    }
    .quote{
        padding: 0;
        padding-bottom: 10%;
    }
    .abt-col-2 h6{
        font-size: 20px;
    }
    .abt-col-2 p{
        line-height: 1.6;
        padding-bottom: 10px;
    }
    #expertise{
        padding: 40px;
    }
    .exp-col{
        flex-basis: 100%;
        margin-bottom: 30px;
        width: 100%;
        padding: 30px;
    }
    #projects{
        padding: 40px;
    }
    .proj-row-1{
        padding: 20px;
    }
    .proj-row-2{
        padding: 20px;
        margin-top: 30px;
    }
    #proj-col p{
        line-height: 1.6;
    }
    #contact{
        padding: 40px;
    }
    .contact-left{
        flex-basis: 40%;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .btn{
        margin-top: 15%;
    }
}
/*      ipad portrait       */
@media only screen and (min-width: 600px) and (max-width: 1024px) and (min-height: 1024px){
    .welcome{
    position: static;
    margin-top: 40vh;
    margin-bottom: 50vh;
    align-items: center;
    justify-content: center;
    }
}
@media only screen and (min-width: 1520px){
    #about{
        padding: 75px 300px;
        padding-top: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-bottom: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-right: calc(300px + (100vw - 1920px) * (75-150) / 200);
        padding-left: calc(300px + (100vw - 1920px) * (75-150) / 200);
    }
    #expertise{
        padding: 75px 300px;
        padding-top: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-bottom: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-right: calc(300px + (100vw - 1920px) * (75-150) / 200);
        padding-left: calc(300px + (100vw - 1920px) * (75-150) / 200);
    }
    #projects{
        padding: 75px 300px;
        padding-top: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-bottom: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-right: calc(300px + (100vw - 1920px) * (75-150) / 200);
        padding-left: calc(300px + (100vw - 1920px) * (75-150) / 200);
    }
    #contact{
        padding: 75px 300px;
        padding-top: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-bottom: calc(75px + (100vw - 1920px) * (75-150) / 800);
        padding-right: calc(300px + (100vw - 1920px) * (75-150) / 200);
        padding-left: calc(300px + (100vw - 1920px) * (75-150) / 200);
    }
}